<%= stylesheet_link_tag 'orders.css.scss' %>
<div id="categories" class="menu">
  loading...
</div>

<div id="items">
  Select a category
</div>


<div class="footer">
  <hr/>
  <h1>Order</h1>

  <div id="order">

  </div>
</div>