<h2>
  <%= @restaurant.name %>
</h2>

<%= image_tag url_for(controller: 'picture', action: 'get_restaurant_picture', restaurant_id: @restaurant.id) %>

Branches/Address: TODO

Infotext: TODO

OpeningTimes: TODO
