li {
  list-style: none;
}

ul {
  padding: 0px;

}

.button {
  height: 100%;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  -moz-border-radius-topleft: 0.7em;
  -moz-border-radius-topright: 0.7em;
  -webkit-border-top-left-radius: 0.7em;
  -webkit-border-top-right-radius: 0.7em;

  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  -moz-border-radius-bottomleft: 0.7em;
  -moz-border-radius-bottomright: 0.7em;
  -webkit-border-bottom-left-radius: 0.7em;
  -webkit-border-bottom-right-radius: 0.7em;
}

.orderItemMonitor {
  width: 100%;
  border: solid;
  margin: 0.5em;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.timeUp {
  border-color: #dc0d02;
}

.orderItemMonitor td {
  width: 33%;
}

#filterDefinition li {
  margin: 1em;
  float: left;
}

input[disabled] {
  color: silver;
}

#monitor {
  clear: both;
}