li {
  list-style: none;
}

ul {
  padding: 0;
}

.item {
  padding: 0.5em;
}

#items li {
  float: left;
}

.totalAmount {
  clear: left;
}

#submitOrder {
  //float: right;
}

.footer {
  clear: both;
}

.footer ul li {
  float: left;
}

.orderItem {
  margin: 0.5em;
}

.plusminus {
  float: right;
}