li {
  list-style: none;
}

#items ul {
  float: left;
}

.totalAmount {
  clear: both;
}

#submitOrder {
  float: right;
}

.footer {
  clear: both;
}

.footer ul li {
  float: left;
}

.orderItem {
  margin: 0.5em;
}

.plusminus {
  float: right;
}