$options_font: 1.4em;

.account_options {
  list-style-type: circle;
}

.option_type {
  font-size: $options_font;
  padding: 5px;
}

.account_options li {
  font-size: $options_font;
  padding: 10px;
}

.account_options li:hover {
  font-weight: bold;
}



